<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.app.bn">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".BnApp"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.AppSplash">
        <activity
            android:name=".view.demo.MainActivity"
            android:exported="true">

        </activity>

        <activity
            android:name=".view.PagingDemoActivity"
            android:exported="true"
            android:theme="@style/Theme.HiltDemo">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>